.alto {
	height: 80vh;
}
.margin-top {
	margin-top: 0.7rem;
}
.with-90 {
	width: auto;
}
p {
	margin-bottom: 0rem;
}
@media (min-width: 768px) {
	.margin-top {
		margin-top: 0rem;
	}
	.form-label {
		margin-bottom: 0rem !important;
	}
	.with-90 {
		width: 90%;
	}
	.bg-success {
		background-color: #198754;
	}
}

@import "../node_modules/bootstrap/scss/bootstrap";
